{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [hello_world]}
]}.


% Not actually using rebar run but like it because release
{project_plugins, [rebar_gleam, rebar3_run]}.

{deps, [
    {gleam_stdlib, "0.8.0"},
    {midas, {git, "git://github.com/did-app/midas.git"}},
    {pgo, "0.11.0"}
]}.

% Maybe rename release name app, rather than hello_world
{relx, [{release, {hello_world, "0.1.0"},
         [hello_world,
          sasl]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.
