{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [hello_world]}
]}.


{project_plugins, [rebar_gleam]}.

{deps, [
    {gleam_stdlib, "0.7.0"},
    % midas
    {midas, {git, "git://github.com/did-app/midas.git"}},
    {pgo, "0.11.0"}
]}.
